In [1]:
import pandas as pd
import numpy as np

# Load dataset
df = pd.read_csv("/content/Life Expectancy Data.csv")

# Show first 5 rows
print("First 5 rows of the dataset:")
print(df.head())

# Dataset info (columns, dtypes, missing values)
print("\nDataset Info:")
print(df.info())

# Check shape (rows, columns)
print("\nDataset Shape:")
print(df.shape)

# Check missing values
print("\nMissing Values per Column:")
print(df.isnull().sum())

First 5 rows of the dataset:
       Country  Year      Status  Life expectancy   Adult Mortality  \
0  Afghanistan  2015  Developing              65.0            263.0
1  Afghanistan  2014  Developing              59.9            271.0
2  Afghanistan  2013  Developing              59.9            268.0
3  Afghanistan  2012  Developing              59.5            272.0
4  Afghanistan  2011  Developing              59.2            275.0

   infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   ...  \
0             62     0.01               71.279624         65.0      1154  ...
1             64     0.01               73.523582         62.0       492  ...
2             66     0.01               73.219243         64.0       430  ...
3             69     0.01               78.184215         67.0      2787  ...
4             71     0.01                7.097109         68.0      3013  ...

   Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  Population  \
0    6.0               8.16         65.0        0.1  584.259210  33736494.0
1   58.0               8.18         62.0        0.1  612.696514    327582.0
2   62.0               8.13         64.0        0.1  631.744976  31731688.0
3   67.0               8.52         67.0        0.1  669.959000   3696958.0
4   68.0               7.87         68.0        0.1   63.537231   2978599.0

    thinness  1-19 years   thinness 5-9 years  \
0                   17.2                 17.3
1                   17.5                 17.5
2                   17.7                 17.7
3                   17.9                 18.0
4                   18.2                 18.2

   Income composition of resources  Schooling
0                            0.479       10.1
1                            0.476       10.0
2                            0.470        9.9
3                            0.463        9.8
4                            0.454        9.5

[5 rows x 22 columns]

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB
None

Dataset Shape:
(2938, 22)

Missing Values per Column:
Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [2]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Status_LE'] = le.fit_transform(df['Status'])
print(df[['Status', 'Status_LE']].head())

       Status  Status_LE
0  Developing          1
1  Developing          1
2  Developing          1
3  Developing          1
4  Developing          1

In [3]:
from sklearn.preprocessing import OrdinalEncoder

# Define order for 'Status'
encoder = OrdinalEncoder(categories=[['Developing', 'Developed']])
df['Status_OE'] = encoder.fit_transform(df[['Status']])
print(df[['Status', 'Status_OE']].head())

       Status  Status_OE
0  Developing        0.0
1  Developing        0.0
2  Developing        0.0
3  Developing        0.0
4  Developing        0.0

In [4]:
# Frequency Encoding for Status
freq_map = df['Status'].value_counts(normalize=True)
df['Status_FE'] = df['Status'].map(freq_map)
print(df[['Status', 'Status_FE']].head())

       Status  Status_FE
0  Developing   0.825732
1  Developing   0.825732
2  Developing   0.825732
3  Developing   0.825732
4  Developing   0.825732

In [6]:
df.columns = df.columns.str.strip()  # Removes leading/trailing spaces

In [7]:
#target encoding
target_mean = df.groupby('Status', observed=True)['Life expectancy'].mean()
df['Status_TE'] = df['Status'].map(target_mean)
print(df[['Status', 'Status_TE']].head())

       Status  Status_TE
0  Developing  67.111465
1  Developing  67.111465
2  Developing  67.111465
3  Developing  67.111465
4  Developing  67.111465