In [3]:
import pandas as pd
import numpy as np

# Load dataset
df = pd.read_csv("/content/Life Expectancy Data.csv")

# Show first 5 rows
print("First 5 rows of the dataset:")
print(df.head())

# Dataset info (columns, dtypes, missing values)
print("\nDataset Info:")
print(df.info())

# Check shape (rows, columns)
print("\nDataset Shape:")
print(df.shape)

# Check missing values
print("\nMissing Values per Column:")
print(df.isnull().sum())

First 5 rows of the dataset:
       Country  Year      Status  Life expectancy   Adult Mortality  \
0  Afghanistan  2015  Developing              65.0            263.0
1  Afghanistan  2014  Developing              59.9            271.0
2  Afghanistan  2013  Developing              59.9            268.0
3  Afghanistan  2012  Developing              59.5            272.0
4  Afghanistan  2011  Developing              59.2            275.0

   infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   ...  \
0             62     0.01               71.279624         65.0      1154  ...
1             64     0.01               73.523582         62.0       492  ...
2             66     0.01               73.219243         64.0       430  ...
3             69     0.01               78.184215         67.0      2787  ...
4             71     0.01                7.097109         68.0      3013  ...

   Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  Population  \
0    6.0               8.16         65.0        0.1  584.259210  33736494.0
1   58.0               8.18         62.0        0.1  612.696514    327582.0
2   62.0               8.13         64.0        0.1  631.744976  31731688.0
3   67.0               8.52         67.0        0.1  669.959000   3696958.0
4   68.0               7.87         68.0        0.1   63.537231   2978599.0

    thinness  1-19 years   thinness 5-9 years  \
0                   17.2                 17.3
1                   17.5                 17.5
2                   17.7                 17.7
3                   17.9                 18.0
4                   18.2                 18.2

   Income composition of resources  Schooling
0                            0.479       10.1
1                            0.476       10.0
2                            0.470        9.9
3                            0.463        9.8
4                            0.454        9.5

[5 rows x 22 columns]

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB
None

Dataset Shape:
(2938, 22)

Missing Values per Column:
Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [4]:


# Check missing values
print(df.isnull().sum())

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [5]:
# Convert categorical columns
df['Country'] = df['Country'].astype('category')
df['Status'] = df['Status'].astype('category')

# Ensure Year is integer
df['Year'] = df['Year'].astype(int)

print(df.dtypes)

Country                            category
Year                                  int64
Status                             category
Life expectancy                     float64
Adult Mortality                     float64
infant deaths                         int64
Alcohol                             float64
percentage expenditure              float64
Hepatitis B                         float64
Measles                               int64
 BMI                                float64
under-five deaths                     int64
Polio                               float64
Total expenditure                   float64
Diphtheria                          float64
 HIV/AIDS                           float64
GDP                                 float64
Population                          float64
 thinness  1-19 years               float64
 thinness 5-9 years                 float64
Income composition of resources     float64
Schooling                           float64
dtype: object

In [6]:
# Separate numeric and categorical columns
num_cols = df.select_dtypes(include=np.number).columns
cat_cols = df.select_dtypes(exclude=np.number).columns

# Fill numeric columns with median (robust to outliers)
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

# Fill categorical columns with mode
df[cat_cols] = df[cat_cols].fillna(df[cat_cols].mode().iloc[0])

# Check again for missing values
print("\nMissing values after imputation:")
print(df.isnull().sum())

Missing values after imputation:
Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [7]:
# Count duplicates
print(f"Number of duplicate rows: {df.duplicated().sum()}")

# Drop duplicates
df.drop_duplicates(inplace=True)
print(f"Shape after removing duplicates: {df.shape}")

Number of duplicate rows: 0
Shape after removing duplicates: (2938, 22)

In [8]:
# Function to remove outliers using IQR
def remove_outliers(df, numeric_cols):
    for col in numeric_cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower = Q1 - 1.5 * IQR
        upper = Q3 + 1.5 * IQR
        df = df[(df[col] >= lower) & (df[col] <= upper)]
    return df

df = remove_outliers(df, num_cols)

print(f"Shape after outlier removal: {df.shape}")

Shape after outlier removal: (626, 22)

In [10]:
# Drop irrelevant features
df = df.drop(columns=['Country'], errors='ignore')

# Check final columns
print(df.columns)

Index(['Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [11]:
# One-Hot Encoding for 'Status'
df_onehot = pd.get_dummies(df, columns=['Status'], drop_first=True)
print(df_onehot.head())

    Year  Life expectancy   Adult Mortality  infant deaths  Alcohol  \
16  2015              77.8             74.0              0     4.60
17  2014              77.5              8.0              0     4.51
18  2013              77.2             84.0              0     4.76
19  2012              76.9             86.0              0     5.14
20  2011              76.6             88.0              0     5.37

    percentage expenditure  Hepatitis B  Measles    BMI   under-five deaths   \
16              364.975229         99.0         0   58.0                   0
17              428.749067         98.0         0   57.2                   1
18              430.876979         99.0         0   56.5                   1
19              412.443356         99.0         9   55.8                   1
20              437.062100         99.0        28   55.1                   1

    ...  Total expenditure  Diphtheria    HIV/AIDS          GDP  Population  \
16  ...               6.00         99.0        0.1  3954.227830     28873.0
17  ...               5.88         98.0        0.1  4575.763787    288914.0
18  ...               5.66         99.0        0.1  4414.723140    289592.0
19  ...               5.59         99.0        0.1  4247.614380      2941.0
20  ...               5.71         99.0        0.1  4437.178680    295195.0

     thinness  1-19 years   thinness 5-9 years  \
16                    1.2                  1.3
17                    1.2                  1.3
18                    1.3                  1.4
19                    1.3                  1.4
20                    1.4                  1.5

    Income composition of resources  Schooling  Status_Developing
16                            0.762       14.2               True
17                            0.761       14.2               True
18                            0.759       14.2               True
19                            0.752       14.2               True
20                            0.738       13.3               True

[5 rows x 21 columns]

In [12]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Status_LE'] = le.fit_transform(df['Status'])
print(df[['Status', 'Status_LE']].head())

        Status  Status_LE
16  Developing          1
17  Developing          1
18  Developing          1
19  Developing          1
20  Developing          1

In [13]:
from sklearn.preprocessing import OrdinalEncoder

# Define order for 'Status'
encoder = OrdinalEncoder(categories=[['Developing', 'Developed']])
df['Status_OE'] = encoder.fit_transform(df[['Status']])
print(df[['Status', 'Status_OE']].head())

        Status  Status_OE
16  Developing        0.0
17  Developing        0.0
18  Developing        0.0
19  Developing        0.0
20  Developing        0.0

In [15]:
# Frequency Encoding for Status
freq_map = df['Status'].value_counts(normalize=True)
df['Status_FE'] = df['Status'].map(freq_map)
print(df[['Status', 'Status_FE']].head())

        Status Status_FE
16  Developing  0.773163
17  Developing  0.773163
18  Developing  0.773163
19  Developing  0.773163
20  Developing  0.773163

In [23]:
df.columns = df.columns.str.strip()  # Removes leading/trailing spaces

In [25]:
#target encoding
target_mean = df.groupby('Status', observed=True)['Life expectancy'].mean()
df['Status_TE'] = df['Status'].map(target_mean)
print(df[['Status', 'Status_TE']].head())

        Status  Status_TE
16  Developing  73.255785
17  Developing  73.255785
18  Developing  73.255785
19  Developing  73.255785
20  Developing  73.255785

In [27]:
# feature_scaling.py

import pandas as pd
from sklearn.preprocessing import MinMaxScaler, MaxAbsScaler, Normalizer, StandardScaler

# Load encoded dataset
df = pd.read_csv("/content/Life Expectancy Data.csv")

# Select numeric columns for scaling
numeric_cols = df.select_dtypes(include='number').columns.tolist()
print("Numeric columns to scale:", numeric_cols)

Numeric columns to scale: ['Year', 'Life expectancy ', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 'Schooling']

In [29]:
minmax_scaler = MinMaxScaler()
df_minmax = df.copy()
df_minmax[numeric_cols] = minmax_scaler.fit_transform(df_minmax[numeric_cols])
df_minmax.to_csv("life_expectancy_minmax.csv", index=False)
print("\nMin-Max Scaled (first 5 rows):")
print(df_minmax[numeric_cols].head())

Min-Max Scaled (first 5 rows):
       Year  Life expectancy   Adult Mortality  infant deaths  Alcohol  \
0  1.000000          0.544592         0.362881       0.034444      0.0
1  0.933333          0.447818         0.373961       0.035556      0.0
2  0.866667          0.447818         0.369806       0.036667      0.0
3  0.800000          0.440228         0.375346       0.038333      0.0
4  0.733333          0.434535         0.379501       0.039444      0.0

   percentage expenditure  Hepatitis B  Measles       BMI   \
0                0.003659     0.653061  0.005439  0.209733
1                0.003774     0.622449  0.002319  0.203940
2                0.003759     0.642857  0.002027  0.198146
3                0.004014     0.673469  0.013135  0.192352
4                0.000364     0.683673  0.014200  0.187717

   under-five deaths      Polio  Total expenditure  Diphtheria    HIV/AIDS  \
0              0.0332  0.031250           0.452118     0.649485        0.0
1              0.0344  0.572917           0.453279     0.618557        0.0
2              0.0356  0.614583           0.450377     0.639175        0.0
3              0.0372  0.666667           0.473012     0.670103        0.0
4              0.0388  0.677083           0.435287     0.680412        0.0

        GDP  Population   thinness  1-19 years   thinness 5-9 years  \
0  0.004889    0.026074               0.619565             0.603509
1  0.005127    0.000253               0.630435             0.610526
2  0.005287    0.024525               0.637681             0.617544
3  0.005608    0.002857               0.644928             0.628070
4  0.000519    0.002302               0.655797             0.635088

   Income composition of resources  Schooling
0                         0.505274   0.487923
1                         0.502110   0.483092
2                         0.495781   0.478261
3                         0.488397   0.473430
4                         0.478903   0.458937

In [30]:
# 4.2 Max-Abs Scaling
maxabs_scaler = MaxAbsScaler()
df_maxabs = df.copy()
df_maxabs[numeric_cols] = maxabs_scaler.fit_transform(df_maxabs[numeric_cols])
df_maxabs.to_csv("life_expectancy_maxabs.csv", index=False)
print("\nMax-Abs Scaled (first 5 rows):")
print(df_maxabs[numeric_cols].head())

Max-Abs Scaled (first 5 rows):
       Year  Life expectancy   Adult Mortality  infant deaths  Alcohol  \
0  1.000000          0.730337         0.363762       0.034444  0.00056
1  0.999504          0.673034         0.374827       0.035556  0.00056
2  0.999007          0.673034         0.370678       0.036667  0.00056
3  0.998511          0.668539         0.376210       0.038333  0.00056
4  0.998015          0.665169         0.380360       0.039444  0.00056

   percentage expenditure  Hepatitis B  Measles       BMI   \
0                0.003659     0.656566  0.005439  0.218786
1                0.003774     0.626263  0.002319  0.213058
2                0.003759     0.646465  0.002027  0.207331
3                0.004014     0.676768  0.013135  0.201604
4                0.000364     0.686869  0.014200  0.197022

   under-five deaths      Polio  Total expenditure  Diphtheria    HIV/AIDS  \
0              0.0332  0.060606           0.463636     0.656566   0.001976
1              0.0344  0.585859           0.464773     0.626263   0.001976
2              0.0356  0.626263           0.461932     0.646465   0.001976
3              0.0372  0.676768           0.484091     0.676768   0.001976
4              0.0388  0.686869           0.447159     0.686869   0.001976

        GDP  Population   thinness  1-19 years   thinness 5-9 years  \
0  0.004903    0.026074               0.620939             0.604895
1  0.005141    0.000253               0.631769             0.611888
2  0.005301    0.024525               0.638989             0.618881
3  0.005622    0.002857               0.646209             0.629371
4  0.000533    0.002302               0.657040             0.636364

   Income composition of resources  Schooling
0                         0.505274   0.487923
1                         0.502110   0.483092
2                         0.495781   0.478261
3                         0.488397   0.473430
4                         0.478903   0.458937

In [39]:
# 4.3 Vector Normalization (L2)

# Make a copy of the dataset
df_normalized = df.copy()

# Select numeric columns
numeric_cols = df_normalized.select_dtypes(include='number').columns.tolist()

# Fill all NaN values in numeric columns (using 0 or median)
df_normalized[numeric_cols] = df_normalized[numeric_cols].fillna(0)
# OR: df_normalized[numeric_cols] = df_normalized[numeric_cols].fillna(df_normalized[numeric_cols].median())

# Apply L2 normalization
from sklearn.preprocessing import Normalizer
normalizer = Normalizer(norm='l2')
df_normalized[numeric_cols] = normalizer.fit_transform(df_normalized[numeric_cols])

# Save normalized dataset
df_normalized.to_csv("life_expectancy_normalized.csv", index=False)

# Print first 5 rows
print("\nVector Normalized (L2) (first 5 rows):")
print(df_normalized[numeric_cols].head())

Vector Normalized (L2) (first 5 rows):
       Year  Life expectancy   Adult Mortality  infant deaths       Alcohol  \
0  0.000060          0.000002         0.000008       0.000002  2.964149e-10
1  0.006148          0.000183         0.000827       0.000195  3.052603e-08
2  0.000063          0.000002         0.000008       0.000002  3.151424e-10
3  0.000544          0.000016         0.000074       0.000019  2.704925e-09
4  0.000675          0.000020         0.000092       0.000024  3.357281e-09

   percentage expenditure  Hepatitis B  Measles           BMI   \
0                0.000002     0.000002  0.000034  5.661525e-07
1                0.000224     0.000189  0.001502  5.677841e-05
2                0.000002     0.000002  0.000014  5.704077e-07
3                0.000021     0.000018  0.000754  4.760669e-06
4                0.000002     0.000023  0.001012  5.774523e-06

   under-five deaths          Polio  Total expenditure  Diphtheria   \
0            0.000002  1.778489e-07       2.418746e-07     0.000002
1            0.000263  1.770510e-04       2.497029e-05     0.000189
2            0.000003  1.953883e-06       2.562108e-07     0.000002
3            0.000025  1.812300e-05       2.304596e-06     0.000018
4            0.000033  2.282951e-05       2.642180e-06     0.000023

       HIV/AIDS       GDP  Population   thinness  1-19 years  \
0  2.964149e-09  0.000017    1.000000           5.098337e-07
1  3.052603e-07  0.001870    0.999978           5.342055e-05
2  3.151424e-09  0.000020    1.000000           5.578020e-07
3  2.704925e-08  0.000181    1.000000           4.841816e-06
4  3.357281e-08  0.000021    0.999999           6.110251e-06

    thinness 5-9 years  Income composition of resources     Schooling
0         5.127978e-07                     1.419827e-08  2.993791e-07
1         5.342055e-05                     1.453039e-06  3.052603e-05
2         5.578020e-07                     1.481169e-08  3.119910e-07
3         4.868866e-06                     1.252380e-07  2.650827e-06
4         6.110251e-06                     1.524205e-07  3.189417e-06

In [35]:
# 4.4 Z-score Standardization
scaler = StandardScaler()
df_standardized = df.copy()
df_standardized[numeric_cols] = scaler.fit_transform(df_standardized[numeric_cols])
df_standardized.to_csv("life_expectancy_standardized.csv", index=False)
print("\nZ-score Standardized (first 5 rows):")
print(df_standardized[numeric_cols].head())

Z-score Standardized (first 5 rows):
       Year  Life expectancy   Adult Mortality  infant deaths   Alcohol  \
0  1.621762         -0.443691         0.790238       0.268824 -1.133571
1  1.404986         -0.979279         0.854614       0.285786 -1.133571
2  1.188210         -0.979279         0.830473       0.302749 -1.133571
3  0.971434         -1.021286         0.862660       0.328193 -1.133571
4  0.754658         -1.052791         0.886801       0.345155 -1.133571

   percentage expenditure  Hepatitis B  Measles       BMI   \
0               -0.335570    -0.635971 -0.110384 -0.959116
1               -0.334441    -0.755661 -0.168124 -0.984066
2               -0.334594    -0.675868 -0.173531 -1.009015
3               -0.332096    -0.556178  0.032045 -1.033964
4               -0.367862    -0.516281  0.051757 -1.053924

   under-five deaths      Polio  Total expenditure  Diphtheria    HIV/AIDS  \
0            0.255359 -3.268019           0.889486    -0.730578  -0.323445
1            0.274060 -1.048077           0.897493    -0.857092  -0.323445
2            0.292761 -0.877312           0.877476    -0.772749  -0.323445
3            0.317696 -0.663856           1.033609    -0.646235  -0.323445
4            0.342631 -0.621165           0.773387    -0.604064  -0.323445

        GDP  Population   thinness  1-19 years   thinness 5-9 years  \
0 -0.483546    0.343993               2.796805             2.757185
1 -0.481553   -0.203706               2.864687             2.801550
2 -0.480218    0.311126               2.909942             2.845914
3 -0.477539   -0.148469               2.955197             2.912461
4 -0.520044   -0.160246               3.023079             2.956826

   Income composition of resources  Schooling
0                        -0.704483  -0.563614
1                        -0.718710  -0.593391
2                        -0.747164  -0.623168
3                        -0.780360  -0.652944
4                        -0.823042  -0.742275

In [40]:
from sklearn.model_selection import train_test_split

# Make sure column names are stripped
df.columns = df.columns.str.strip()

# Target column
target = 'Life expectancy'

# Feature columns (example: all numeric columns except target)
numeric_cols = df.select_dtypes(include='number').columns.tolist()
features = [col for col in numeric_cols if col != target]

# Features (X) and target (y)
X = df[features]
y = df[[target]]

# Train/Test split (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Print shapes
print("Training set shape:", X_train.shape, y_train.shape)
print("Testing set shape:", X_test.shape, y_test.shape)

Training set shape: (2350, 19) (2350, 1)
Testing set shape: (588, 19) (588, 1)